.message-input-container {
    display: flex;
    gap: 4px;

}

.message-input {
    padding: 12px 8px;
    flex: 1;
    background: lightgray;
    border: 3px solid gold;
    border-radius: 10px;
}

.send-message {
    padding: 12px 14px;
    background: lightcyan;
    border: 3px solid gold;
    border-radius: 10px;
    cursor: pointer;
}


.messages-container {
    width: 97.8%;
    padding: 16px;
    flex-grow: 1;
    border: 1px solid gray;
    border-radius: 10px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.message-list-container {
    margin-bottom: 16px;
    flex: 1;
    overflow: scroll;
}

.message-list {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message {
    /*padding: 8px 16px;*/
    margin-bottom: 8px;
    background: lightgray;
    border-radius: 10px;
    text-align: left;
}


.sender {
    margin-bottom: 8px;
}

li{
    margin-top:50px;
    list-style: none;
    float: left;
    text-align: left;
    font: 400 1.3em 'Open Sans', sans-serif;
    color: black;
    width: auto;
}

span{
    margin-left:50%;
    opacity: 0.5;
}

